.form {
    display: flex;
}

input {
    flex: 1;
    margin-right: 8px;
    box-shadow: var(--main-box-shadow);
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.addButton {
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    background-color: var(--main-background-color);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}